<h1>Hello {{currentUser.name}}</h1>
<br />

{{#if currentUser.image}}
  <img src="{{currentUser.image}}" class="img-thumbnail" alt="user profile pic">
{{/if}}

<br />

{{!-- <iframe
  src="https://giphy.com/embed/ASd0Ukj0y3qMM"
  width="480"
  height="360"
  frameBorder="0"
  class="giphy-embed"
  allowFullScreen
></iframe><p><a
    href="https://giphy.com/gifs/the-simpsons-hello-hi-ASd0Ukj0y3qMM"
  >via GIPHY</a></p> --}}