<h1>Hello {{currentUser.name}} - {{currentUser.email}}</h1>
<br />
<iframe
  src="https://giphy.com/embed/ASd0Ukj0y3qMM"
  width="480"
  height="360"
  frameBorder="0"
  class="giphy-embed"
  allowFullScreen
></iframe><p><a
    href="https://giphy.com/gifs/the-simpsons-hello-hi-ASd0Ukj0y3qMM"
  >via GIPHY</a></p>